# This file lists the python packages that your software depends on
# for development.
# It is used by pip to manage software dependencies. It is not to be
# confused with the software requirements, which are listed in
# doc/requirements.rst
numpy>=1.17.4
PySide2
opencv-contrib-python>=4.1.1.26
scikit-surgeryvtk
scikit-surgerycore
scikit-surgeryutils>=0.6.2
scikit-surgeryarucotracker>=0.1.0
