# Typically, SNAPPY libraries specify minimum requirements versions.
# eg. vtk>=8.1.2.
# This means pip will install the latest where possible.
#
# However, for maximum reliability, we should specify exact versions
# that we know this tutorial has been tested with.
numpy>=1.17.4
PySide2==5.13.1
opencv-contrib-python>=4.1.1.26
scikit-surgeryutils>=0.6.2

